{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main class="account-container">
<div class="container">
  <div class="row col-12 mx-auto">
    <div class="col-md-6 mx-auto">
      <div class="text-center">
        <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      </div>
      <div class="sign-in-form_or-divider">
        <h2 class="login-or mx-auto font-weight-bold">{% trans "Sign In" %}</h2>
      </div>
      
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
  
        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        
          <div class="login-or fw-bold mb-3 text-center">{% trans 'or' %}</div>
        
        </div>
        
        {% include "socialaccount/snippets/login_extra.html" %}
        
        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="row form-floating mx-auto"> 
              <div class="form-floating">
                {{ form.login|as_crispy_field }}
              </div>           
              <div class="form-floating">
                {{ form.password|as_crispy_field }}
              </div> 
              <div class="row">
                <div class="col-6">
                  <div class="form-floating">
                    {{ form.remember|as_crispy_field }}
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  </div>
                </div>
              </div>
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            <div class="btn-group login-signup-btn w-100 text-center py-3">
              <a class="btn btn-dark me-2" href="{% url 'home' %}" aria-label="Go to account signup page" type="button"><i class="fa-solid fa-chevron-left" aria-hidden="true"></i> Home</a>
              <button class="primaryAction btn btn-danger" type="submit" aria-label="Go to account signup page" >{% trans "Sign In" %} <i class="fa-solid fa-chevron-right" aria-hidden="true"></i></button>
            </div>
          </div>
          </form>
        </div>
  </div>
</div>
</main>
{% endblock %}
