{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="account-container">
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="text-center">
        <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      </div>
      <div class="sign-in-form_or-divider">
        <h2 class="login-or mx-auto font-weight-bold">{% trans "Sign Up" %}</h2>
      </div>
    
      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <div class="container ">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="row form-floating col-12 mx-auto"> 
            <div class="form-floating">
              {{ form.username|as_crispy_field }}
            </div>           
            <div class="form-floating">
              {{ form.email|as_crispy_field }}
            </div> 
            <div class="col-md-6">
              <div class="form-floating">
                {{ form.password1|as_crispy_field }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{ form.password2|as_crispy_field }}
              </div>
            </div>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </div>
        <div class="btn-group login-signup-btn w-100 text-center py-3">
          <a class="btn btn-dark me-2" href="{% url 'home' %}" aria-label="Go to account signup page" type="button"><i class="fa-solid fa-chevron-left" aria-hidden="true"></i> Home</a>
          <button class="btn btn-danger" type="submit" aria-label="Go to account signup page" type="button">{% trans "Sign Up" %} <i class="fa-solid fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
