* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
} 

header {
    background-color: #fff;
}

/* homepage */
.social-networks a {
    text-decoration: none;
}

/* forms */

.btn-login-signup {
    background-color: #b02a37;
    color: #fff;
}

.btn-login-signup:hover {
    background-color: #dc3545;
    color: #fff;
}

.sign-in-form_divider {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.sign-in-form_divider:before,
.sign-in-form_divider:after {
    background-color: #ced4da;
    content: "";
    height: 1px;
    width: 35%;
}

.sign-in-form_or-divider {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.sign-in-form_or-divider:before,
.sign-in-form_or-divider:after {
    background-color:#ced4da;
    content: "";
    height: 1px;
    width: 45%;
}

.bg-navbar {
    background: #ebf0f4;
   
}

.btn-chat {
    background-color: #ffc107;
}

.btn-chat:hover {
    background-color: #ffcd3b;
}

.btn-quiz {
    background-color: #6f42c1;
    color: #ffc107;
}

.btn-quiz:hover {
    background-color: #6610f2;
    color: #ffc107;
}

/* Keep footer fixed at the bottom of the page  */
footer {
    background-color: #000;
    color: #ced4da;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}  