* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* homepage */

.home-container {
    margin: 0;
    top: 20%;
    position: absolute;
    width: 100vw;
}

/* Keep footer fixed at the bottom of the page  */
footer {
    background-color: red;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }